@model VoxTics.Areas.Admin.ViewModels.Category.CategoryCreateEditViewModel


<div class="category-card card-glass p-4 shadow-lg animated-fade-in">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    @await Html.PartialAsync("_CategoryForm", Model)
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/admin/category/category-form.js"></script>
}
