@using VoxTics.Helpers
@model PaginatedList<VoxTics.Models.ViewModels.ShowtimeVM>

<h2 class="mb-4">Showtimes</h2>

<div id="showtimes-container">
    <div id="cards-container">
        @await Html.PartialAsync("_ShowtimeCards", Model)
    </div>

    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model, new ViewDataDictionary(ViewData) { { "Action", "Index" }, { "Controller", "Showtimes" }, { "Target", "#cards-container" } })
</div>
