@using VoxTics.Areas.Admin.ViewModels.Movie
@model MovieCreateEditViewModel

<form asp-action="Delete" asp-controller="Movies" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="p-3">
        <h5>Delete Movie</h5>
        <p>Are you sure you want to delete "<strong>@Model.Title</strong>"?</p>

        <div class="text-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger js-confirm-delete">Delete</button>
        </div>
    </div>
</form>
