@using VoxTics.Areas.Admin.ViewModels.Movie
@model MovieCreateEditViewModel
@{
    ViewData["Title"] = "Create Movie";
}
<div class="container py-4">
    <h2>Create Movie</h2>
    <partial name="_MovieForm" model="Model" />
</div>
