@model VoxTics.Areas.Admin.ViewModels.Movie.MovieCreateEditViewModel
@{
    ViewData["Title"] = "Create Movie";
}

<h1>@ViewData["Title"]</h1>

<!-- Notifications -->
<partial name="_NotificationPartial" />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_MovieForm", Model)
</form>
