@model VoxTics.Areas.Admin.ViewModels.Movie.MovieCreateEditViewModel

<h1>@ViewData["Title"]</h1>
<partial name="_NotificationPartial" />

<form asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_MovieForm", Model)
</form>
