@model ForgetPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
}
<h2>Reset Your Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="EmailORUserName" class="form-label"></label>
        <input asp-for="EmailORUserName" class="form-control" />
        <span asp-validation-for="EmailORUserName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_NotificationPartial">
}
