@model LoginVM
@{
    ViewData["Title"] = "Login";
}
<h2 class="mb-4">Sign In</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="EmailORUserName" class="form-label"></label>
        <input asp-for="EmailORUserName" class="form-control" />
        <span asp-validation-for="EmailORUserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-action="ForgotPassword" class="btn btn-link">Forgot your password?</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_NotificationPartial">
}
